<!DOCTYPE html>
<html>
  <head>
    
    <title>CourseProjectJjcrowdfunding</title>
    <%= csrf_meta_tags %>
  

  <body>
  	<header>
      <style>
      .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      
      </style>
        <link rel="styleshit" type="text/css" href="mystyle1.css">
      		<nav align="center" class="be-red white">
      			<ul class="no-list row center-xs">
      				<h class="none" >

      					<%= link_to "Inicio", root_path , :class=>'button' %>


      			    <% if user_signed_in? %>
      					 <%= link_to "Profile", user_path, :id=>@user.id, :class=>'button' %>  
                <% else %>
      				    <%= link_to "Log In", new_user_session_path,  :class=>'button' %>  
                <% end %>
                <%= link_to "Projects", projects_path, :class=>'button' %>
              
      					<% link_to "Newproject", root_path %>
      					<a class="button" href="http://0.0.0.0:3000/projects/new">New Project</a>
      				
      					<% link_to "Search", root_path %>
      					<a class="button" href="http://0.0.0.0:3000/search">Search</a>
                    </h>
    <%= yield %>
    
    
  </body>
  </head>
</html>
